body{
    margin: 0px auto;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

p{
    line-height: 1.9em;    
}

a{
    color: #542525;
}
a:hover{
    color: #9c4343;
}

header{
    top: 0;
    width: 100%;
    display: block;
    position: static;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

header section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

header nav li{
    float:left;
}

header nav li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}